.note-card {
  padding: 0 12px;
}

.modal {
  z-index: 1100;
  text-align: center;
}

#notes-list {
  margin-top: 72px;

  #search-buttons {
    position: fixed;
    top: 72px;
    width: 73.5%;
    z-index: 800;
    background-color: white;
  }

  .notes {
    position: relative;
    top: 54px;
  }
}

.no-note {
  text-align: center;
  h1 {
    margin-top: 100px;
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
