<div class="box" xmlns:v-clipboard="http://www.w3.org/1999/xhtml">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <div id="card-header" class="columns">
          <div id="name-category" class="column is-9">
            <h4>{{snippet.name}}</h4>
            <h5>({{snippet.language | capitalize}})</h5>
          </div>
          <div id="action-buttons" class="column is-3">
            <div class="is-pulled-right">
              <b-tooltip :active="showCopiedToClipboard" label="Copied !" position="is-bottom" always>
                <a id="copy-snippet"
                   v-clipboard:copy="snippet.content"
                   v-clipboard:success="onCopyClipboardSuccess"
                   title="Copy to clipboard">
                  <b-icon icon="clipboard"></b-icon>
                </a>
              </b-tooltip>
              <a id="update-snippet" @click="updateSnippetModalActive = true" title="Edit snippet">
                <b-icon icon="pencil"></b-icon>
              </a>
              <a id="delete-snippet" @click="deleteSnippet()" title="Delete snippet">
                <b-icon icon="trash"></b-icon>
              </a>
            </div>
          </div>
        </div>
        <p>{{snippet.description}}</p>
        <!--<b-taglist>
          <b-tag v-for="tag in snippet.tags" type="is-light">{{tag}}</b-tag>
        </b-taglist>-->
        <editor :code="snippet.content"
                :lang="snippet.language"
                theme="monokai"
                width="100%"
                height="260"
                :readOnly="true"
        ></editor>
      </div>
    </div>
  </article>

  <b-modal :active.sync="updateSnippetModalActive" has-modal-card>
    <cb-update-snippet-modal :snippet="snippet"></cb-update-snippet-modal>
  </b-modal>
</div>
