.modal-card {
  width: 700px;
}

.help {
  display: none !important;
}

#plus {
  margin-right: 4px;
}

.note-file {
  background-color: $light;
  padding: 12px;
  margin-bottom: 10px;
}

.c-selected-file {
  background-color: $light;
  border-top: 1px solid #ccc;
  padding: 1rem;
  max-height: 20rem;
}
