<form action="">
  <div id="settings-modal" class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Settings</p>
    </header>

    <section class="modal-card-body">
      <b-field label="Github Enterprise Users Only">
        <b-input
          type="text"
          ref="githubEnterpriseUrl"
          v-model="newSettings.githubEnterpriseUrl"
          placeholder="https://github.host/api/v3">
        </b-input>
      </b-field>
      <b-field label="Personal access token">
        <b-input
          type="password"
          password-reveal
          ref="githubPersonalAccessToken"
          v-model="newSettings.githubPersonalAccessToken"
          placeholder="Your Github personal access token">
        </b-input>
      </b-field>

      <b-field label="Mysql Host">
        <b-input
          type="text"
          ref="mysqlHostName"
          v-model="newDatabase.mysqlHost"
          placeholder="Mysql Host or IP">
        </b-input>
      </b-field>
      <b-field label="Mysql DB">
        <b-input
          type="text"
          ref="mysqlDbName"
          v-model="newDatabase.mysqlDB"
          placeholder="Mysql Database name">
        </b-input>
      </b-field>
      <b-field label="Mysql User">
        <b-input
          type="text"
          ref="mysqlUserName"
          v-model="newDatabase.mysqlUser"
          placeholder="Mysql User Name">
        </b-input>
      </b-field>
      <b-field label="Mysql password">
        <b-input
          type="password"
          password-reveal
          ref="mysqlPassword"
          v-model="newDatabase.mysqlPassword"
          placeholder="Mysql Password">
        </b-input>
      </b-field>
    </section>

    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Cancel</button>
      <button class="button is-primary" type="button" @click="save()">Save</button>
      <button class="button is-primary" type="button" @click="saveMysql()">Save Mysql</button>
      <div class="field">
        <b-radio v-model="newSettings.theme"
            name="theme"
            native-value="white">
            White
        </b-radio>
        <b-radio v-model="newSettings.theme"
            name="theme"
            native-value="dark">
            Dark
        </b-radio>
      </div>
    </footer>
  </div>
</form>
