.modal-form{
  height: inherit;
}

.create-modal .modal-card {
  width: 100%;
  height: inherit;
}

.help {
  display: none !important;
}

#plus {
  margin-right: 4px;
}

.note-file {
  background-color: $light;
  padding: 12px;
  margin-bottom: 10px;
}
