// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #519fc2;
$primary-invert: findColorInvert($primary);

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma";
@import "~buefy/src/scss/buefy";

.modal {
  z-index: 1100!important;
}

.text-red {
  color: $danger;
}

.text-center {
  text-align: center;
}
